:root{
    --background : #fff;
    --text-primary: #000;
    --button-bg: #000;
    --button-text: #fff;
}

[data-theme = "dark"]{
    --background : #000;
    --text-primary: #fff;
    --button-bg: #fff;
    --button-text: #000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    transition: all .3s ease;
}

.box{
    text-align: center;
}

.box h2{
    font-size: 40px;
    color: var(--text-primary);
    margin-bottom: 30px;
}

.box button{
    width: 150px;
    height: 35px;
    font-size: 15px;
    padding: 5px;
    border: none;
    color: var(--button-text);
    background-color: var(--button-bg);
    border-radius: 5px;
    cursor: pointer;
}